

<body class="homepage">

 

    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(<%= asset_path("tnk-nav1_b.jpg")%>)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">東京大学起業サークルTNK</h1>
                                    <h2 class="animation animated-item-2">The University Of Tokyo's Business Club</h2>

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(<%= asset_path("tnk_nav2_b.jpg")%>)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animated-item-1">東京大学起業サークルTNK</h1>
                                    <h2 class="animated-item-2">The University Of Tokyo's Business Club</h2>
                                    <!-- <h1 class="animation animated-item-1">0から1を生み出し世界を変える</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2> -->
                                    <!-- <a class="btn-slide animation animated-item-3" href="#">Read More</a> -->
                                </div>
                            </div>
<!-- 
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="http://shapebootstrap.net/demo/html/corlate/images/slider/img2.png" class="img-responsive">
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(<%= asset_path("tnk_nav3_b.jpg")%>)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                 <h1 class="animated-item-1">東京大学起業サークルTNK</h1>
                                    <h2 class="animated-item-2">The University Of Tokyo's Business Club</h2>
                                    <!-- <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2> -->
                                    <!-- <a class="btn-slide animation animated-item-3" href="#">Read More</a> -->
                                </div>
                            </div>
<!--                             <div class="col-sm-6 hidden-xs animation animated-item-3">
                                <div class="slider-img">
                                    <img src="<%= asset_path("tnk-nav.jpg")%>">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <!-- <a class="prev hidden-xs" href="#main-slider" data-slide="prev">< -->
            <!-- <i class="fa fa-chevron-left"></i> -->
        <!-- </a> -->
        <!-- <a class="next hidden-xs" href="#main-slider" data-slide="next">> -->
            <!-- <i class="fa fa-chevron-right"></i> -->
        <!-- </a> -->
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Principal</h2>
                <h2 style="color:#c52d2f;">創新者の輩出</h2>
                <p class="lead">
                私たちTNKは「創新者の輩出＝新たな当たり前を創る者の輩出」を団体の理念としています。<br>
新しい当たり前を創るとは、「みなが当たり前と思う事、それ自体を変える事」であると考えます。<br>
例えば、エジソンが発明した白熱電球は私たちの「当たり前」の生活を決定的に変えました。<br>「夜になると活動が大きく制限される上に、危険な火に頼らなければならない」という人々の問題を解決し、<br>夜を「非生産的（あるいは非効率的）な時間」から「昼と変わらない生産的な時間」へと再定義しました。<br>今では白熱電球無しの生活が「当たり前」として私たちの目の前にあります。<br>
この様な「新たな当たり前を創る者」を私たちは「創新者」と呼びます。
 <br></p>       
                <h2>Vision</h2>
                <h2 style="color:#c52d2f;">20年後の当たり前を創る</h2>
                <p class="lead">
                    皆TNKはこの「創新者」を志す学生が集い、一年半の活動期間をより濃密なものとなるよう日々切磋琢磨するための場です。<br>ですから、「20年後の世界の当たり前をつくる」が私たちの描くビジョンです。<br>

皆さんは「ペイパルマフィア」を知っていますか？
「ペイパルマフィア」とはペイパルという企業から輩出された人材の集団を指します。<br>
そのメンバーには、テスラモーターズやSpaceXを立ち上げたイーロンマスクやLinkdinを創業したリード・ホフマン、youtubeを創業メンバーであるチャド・ハリーなど世界を変え続けている「創新者」がいます。<br>
これに習うと私たちの目指す団体はさしずめ「TNKマフィア」と呼べるでしょう。<br>
                </p>
            </div>


        </div><!--/.container-->
    </section><!--/#feature-->

<!--     <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>2014年度団体実績</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="assets/festival.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">5月祭MFA優勝</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="/assets/festival.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="assets/shinkan.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">ビジコン合宿</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">株式会社Nextate設立</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">ELLITE 開催</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Startup school開催</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">KBCビジネスコンテスト優勝 </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">CMworld PJ 月間80万PV達成 </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">TNK-startuplabo</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>

    <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>Activity</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-12" id="works">
                    <div class="media services-wrap wow fadeInDown">
                        <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading" >勉強会</h3>
                            <p>毎週木曜日に勉強会を行っております。
                            <br>また外部講師をお招きし、夏休み前までの全10回で起業に必要な発案から実行までに必要な要素について学びます。</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-12" id="pj">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading">プロジェクト</h3>
                            <p>プロジェクトは、私達の理念である「創新者を輩出」を達成する為のメインの活動であります。<br>
プロジェクトを通して、創新者の素養を獲得していただきます。

では、プロジェクトの内容はどのように決定するのか。

とにかく「自由」です。
自分の直感的にやりたいことを行ってもらいます。<br>
起業と同様、自分の本当にやりたいことを突き詰めてもらいます。
人数は、2名以上であればプロジェクトとして成立します。<br>

これだけ自由なプロジェクトですが、一つだけ制限があります。
それは「圧倒的な結果を残すこと」です。

ぜひTNKにいる超優秀なメンバーと圧倒的な結果を残し、創新者となりましょう。<br></p><a href="/history">過去のPJはこちら</a>
                        </div>
                    </div>
                </div>

                                                
            </div>
        </div>
    </section>
 -->

    <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>Activity</h2>
                <p class="lead">TNKでの主な活動を紹介します。 </p>
            </div>

            <div class="row" id="activity">
                <div class="col-sm-6 col-md-12" id="works">
                    <div class="media services-wrap wow fadeInDown">
                        <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading" >勉強会</h3>
                            <p>毎週木曜日に勉強会を行っております。
                            <br>また外部講師をお招きし、夏休み前までの全10回で起業に必要な発案から実行までに必要な要素について学びます。</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-12" id="pj">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading">プロジェクト</h3>
                            <p>プロジェクトは、私達の理念である「創新者を輩出」を達成する為のメインの活動であります。<br>
プロジェクトを通して、創新者の素養を獲得していただきます。

では、プロジェクトの内容はどのように決定するのか。

とにかく「自由」です。
自分の直感的にやりたいことを行ってもらいます。<br>
起業と同様、自分の本当にやりたいことを突き詰めてもらいます。
人数は、2名以上であればプロジェクトとして成立します。<br>

これだけ自由なプロジェクトですが、一つだけ制限があります。
それは「圧倒的な結果を残すこと」です。

ぜひTNKにいる超優秀なメンバーと圧倒的な結果を残し、創新者となりましょう。<br></p><a href="/history">過去のPJはこちら</a>
                        </div>
                    </div>
                </div>

<!--                 <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services3.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">部署活動</h3>
                            <p>TNKを支える部署活動についてお伝えします</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section>

    <section id="recent-works">
        <div class="container" id="history">
            <div class="center wow fadeInDown">
                <h2>2014年度団体実績</h2>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("festival.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>5月祭MFA優勝</p>
                                <p>TNKが五月祭の<a href="http://www.a103.net/may/87/visitor/"style="color:gray">MFA</a>で優勝しました！！！！来ていただいた皆様のおかげで、このような結果を残す事ができました。心から感謝申し上げます。</p>
                                <!-- <a class="preview" href="/assets/festival.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("shinkan.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>新歓合宿</p>
                                <p>チームごとに泊まりこみでビジネスプランを考える、新歓合宿を行いました。審査員にはOBである5人の起業家の方々をお招きしました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("nexate.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>株式会社Nextate設立</p>
                                <p>前代表の森本がオンラインでのオーダーメイドスーツの販売事業を行う株式会社Nextate設立しました。公式サイトは<a href="http://nexate.jp/" style="color:gray">こちら</a></p>
                                <!-- <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("elite.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>ELLITE 開催</p>
                                <p>選び抜かれた仲間と自分が心からやりたい事を「価値ある形」で実行するプログラム企画立案プログラム ELITEを実施しました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("start.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>Startup school開催</p>
                                <p>東大でのSkyland Venturesの運営する創業期の起業家向けのスクール型イベントStartup schoolを共同開催しました。</p>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("kbc.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>KBC優勝</p>
                                <p>KBCビジネスコンテストにTNKから２チームが参加し、山口翔誠率いる週末Quintetがなんと優勝！コンテスト終了後もサービスリリースに向けて爆速で準備中！</p>
                                <!-- a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("cmworld.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>CMworld PJ 月間80万PV達成</p>
                                <p>「世界中に心残るCMを届ける」というコンセプトのCMに特化したバイアルメディア<a style="color:gray"href="http://cmworld.jp/">CMworld</a>を作成し月間80万PV達成しました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="<%= asset_path("labo.jpg")%>" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>TNK-startuplabo</p>
                                <p>世界中のスタートアップ情報を集め、起業家に価値ある情報を届けルサイト<a href="http://tnk-startuplaboratory.com/"style="color:gray">tnk-startuplabo</a>を立ち上げました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->
        <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>過去の団体実績</h2>
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading" >講演会</h3>
                            <p>・DeNA代表取締役社長 南場智子氏<br>
・元マイクロソフト副社長 西和彦氏<br>
・株式会社ぱど代表取締役社長 倉橋泰氏<br>
・ジョルダン株式会社代表取締役社長 佐藤俊和氏<br>
・元ダイヤモンド代表取締役専務 松室哲生氏<br>
・ガートナージャパン株式会社代表取締役社長 日高信彦氏<br>
・タリーズコーヒージャパン創業者 松田公太氏</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading">イベント</h3>
                            <p>・ビジネスドラフト<br>
・キャリアデザインキャンプ<br>
・経営シミュレーション<br>
・スポーツビジネスコンテスト<br>
・TNKアカデミア<br>
・Presentation Olympic <br>
・Venture Energy</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading" >出版</h3>
                            <p>なぜ、ベンチャーは失敗しやすいのか?<br>
・東大生が書いたやさしい物理の教科書<br>
・東大生が書いた頭が良くなる数学の教科</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading">事業</h3>
                            <p>・フリーペーパー「合格サプリ」。事業を企業にバイアウト。<br>
・インターン斡旋「イン太郎」。事業を企業にバイアウト。<br>
・バイラルメディアCMworldリリース。月間100万PVを記録<br>
・株式会社Nexate設立(http://nexate.jp/)</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="media services-wrap wow fadeInDown">

                        <div class="media-body">
                            <h3 class="media-heading">集客実績</h3>
                            <p>2007年　リーマンブラザーズ様と共にビジネスコンテストの開催 参加者80名<br>
首都圏最大級ビジネス系向け交流会 参加者150名
2008年　国際起業家フォーラム(米バブソン大学と共催) 参加者100名<br>
2009年 学生団体の代表向けの大交流会-WiE-　参加者120名<br>
2010年　TNKアカデミア　Business Simulation Contest 参加者232名<br>
　　　　 Visionary Student Contest（応募者数100名）<br>
2011年　EF様・エリクソン様・H&M様と共にTNK Global Conferenceの開催 参加者400名<br>
2012年　東大生によるプレゼンテーションイベント　400名以上<br>
2013年　Presentation Olympic 参加者100名以上<br>
2014年　Venture Energy参加者100名以上<br>
2007年~起業家塾　参加者総計600名以上</p>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-6 col-md-12">
                    <div class="media services-wrap wow fadeInDown">

                        <div class="media-body">
                            <h3 class="media-heading">取材履歴</h3>
                            <p>2005年11月　「日経スペシャル　ガイアの夜明け」（テレビ東京）<br>
2005年12月　読売新聞「1200万分の1のメッセージ（起業家編）」<br>
2006年12月　読売新聞「東大解剖」<br>
2007年 1月　「ワールドサテライト」（テレビ東京）<br>
2007年 3月　読売新聞「東大解剖」<br>
2007年11月 就活情報雑誌「就活type」<br>
2007年 4月 めざましどようび<br>
2009年 1月 ベンチャー通信<br>
2009年 5月 メンターダイヤモンド<br>
2011年 8月 日本経済新聞</p>
                        </div>
                    </div>
                </div> 

<!--                 <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

        <section id="contact-info" class="gmap-area">
     <div class="container" id="recruit">
            <div class="center wow fadeInDown">
                <h2>12期採用について</h2>
                <p class="lead">公開勉強会に最低1回の参加と、面接への合格が当サークルの入会条件です。<br> 勉強会及び面接への参加希望者は<a href="https://docs.google.com/forms/d/1uM2-1E0qXpykg6y8Gr5nyM-U5UMfx324Mhh5Fji2pIg/edit">こちら</a>で登録お願いします。</p>
            </div>

            <div class="row">
                <div class="col-sm-2 col-md-2" >
                </div>

                <div class="col-sm-8 col-md-8" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading">イベント</h3>
                            <p>4/10(木)<br>　第一回公開勉強会<br>　＠国立オリンピック記念青少年総合センター<br>　東京都渋谷区代々木神園町３−１<br><hr>
                            4/12(土)<br>　第二回公開勉強会<br>　＠国立オリンピック記念青少年総合センター<br>　東京都渋谷区代々木神園町３−１<br><hr>
                            4/15(火)<br>　公開イベント<br>　＠株式会社コロプラ本社<br>　東京都渋谷区恵比寿4-20-3 恵比寿ガーデンプレイスタワー11F<br><hr>
                            4/18(金)-21(月)<br>　面接<br>　＠国立オリンピック記念青少年総合センター<br>　東京都渋谷区代々木神園町３−１<br><br><hr>
                            　勉強会及び面接への参加希望者は<a href="https://docs.google.com/forms/d/1uM2-1E0qXpykg6y8Gr5nyM-U5UMfx324Mhh5Fji2pIg/edit">こちら</a>で登録お願いします。
                            </p>
                            <!-- <h3 class="media-heading">アクセス</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12964.246268294333!2d139.693039!3d35.675486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62ff6efc447ae032!2z5Zu956uL44Kq44Oq44Oz44OU44OD44Kv6KiY5b-16Z2S5bCR5bm057eP5ZCI44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1425620710517" width= "100%" height="450" frameborder="0" style="border:0"></iframe><br><br><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3242.4153490300514!2d139.7134499!3d35.6421371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b15d7668d33%3A0x287e230b31e3b6eb!2z44CSMTUwLTAwMTMg5p2x5Lqs6YO95riL6LC35Yy65oG15q-U5a-_77yU5LiB55uu77yS77yQ4oiS77yTIOaBteavlOWvv-OCrOODvOODh-ODs-ODl-ODrOOCpOOCueOCv-ODr-ODvA!5e0!3m2!1sja!2sjp!4v1425622290582" width="100%" height="450" frameborder="0" style="border:0"></iframe> -->
                    </div>
                            
                        </div>
                    </div>
                

                <div class="col-sm-2 col-md-2" >
                    
                </div>

                <div class="col-sm-12 col-md-12" >
                    <div class="media services-wrap wow fadeInDown">
<h3 class="media-heading">アクセス</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12964.246268294333!2d139.693039!3d35.675486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62ff6efc447ae032!2z5Zu956uL44Kq44Oq44Oz44OU44OD44Kv6KiY5b-16Z2S5bCR5bm057eP5ZCI44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1425620710517" width= "100%" height="450" frameborder="0" style="border:0"></iframe><br><br><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3242.4153490300514!2d139.7134499!3d35.6421371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b15d7668d33%3A0x287e230b31e3b6eb!2z44CSMTUwLTAwMTMg5p2x5Lqs6YO95riL6LC35Yy65oG15q-U5a-_77yU5LiB55uu77yS77yQ4oiS77yTIOaBteavlOWvv-OCrOODvOODh-ODs-ODl-ODrOOCpOOCueOCv-ODr-ODvA!5e0!3m2!1sja!2sjp!4v1425622290582" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>

                                                
            </div><!--/.row-->

        </div><!--/.container-->

    </section>

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftnk.venture&amp;width=1200&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=616481418427065" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:290px; " allowTransparency="true" class="facebook"></iframe>
        </div>
    </section><!--/#bottom-->

