    <section id="contact-page">
        <div class="container" style="margin-bottom:75px;">
            <%= form_for(@inquiry, :url => inquiry_confirm_path)  do |f| %>
            <div class="center" style="margin-top:75px;">
                <h2>コンタクトフォーム</h2>
                <p class="lead">当団体へのご連絡はこちらまで</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <% if @inquiry.errors.any? %>
                <div class="alert alert-danger" role="alert">
                  <strong>入力内容にエラーがあります</strong>
                  <ul>
                    <% @inquiry.errors.each do |attr, msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
             
              <table class="table">
                <tr>
                  <th>名前<span class="text-danger">（必須）</span></th>
                  <td><%= f.text_field :name ,:class => "form-control"%></td>
                </tr>
                <tr>
                  <th>メールアドレス<span class="text-danger">（必須）</span></th>
                  <td><%= f.text_field :email,:class => "form-control" %></td>
                </tr>
                <tr>
                  <th>お問い合わせ内容</th><br>
                  <td><%= f.text_area :message, :size => "60x10",:class => "form-control" %></td>
                </tr>
              </table>
              <div><div class="col-md-8"></div>
              <div class="col-md-4">
              <%= f.submit '確認', class: 'btn btn-primary' %>
              </div>
              </div>
            <% end %>
            </div>
            <div class="col-md-2"></div>
        </div><!--/.container-->
    </section>
